@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans:400,700|Crete+Round');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import "variables";
@import "grid";
@import "Header";
@import "TopImg";
@import "OurStory";
@import "SpecialMenu";
@import "ContactUs";
@import "Footer";
@import "Global";

body {
  font-family: $textFont;
width:100%;
height: 100%;
overflow-x: hidden;
background: #fff;
}
